        .ikon {
            float: left;
            margin: 0 0 0 0.5%;
            width: 150px;
            height: auto;
            padding-right: 25px;
            border-radius: 5px;
        }

        .comanda_span {
            font-size: 20px;
            color: MediumBlue;
            font-weight: bold;
        }

        .img_decor {
            padding-left: 45px;
            border-radius: 5px;
        }

        footer {
            background-color: darkgray;
            padding: 10px 20px;
            color: white;
        }

        header {
            width: 100%;
            height: auto;
            background: bisque;
        }

        #logo {
            float: left;
            padding: 5px;
        }

        #title {
            display: block;
            font-size: 20px;
            font-style: italic;
            padding-top: 15px;
            text-align: left;
        }